
<div id="create_tasks">
  <h1>New Task</h1>
  <%= render 'task_form' %>
</div>
<div id="show_tasks" class="sortable">
  <div id='display_buttons'>
    <div class="display_click">
      <button id='display_new_task' class='toggle_display btn btn-primary'>New Task</button>
    </div>
    <div id="task_header">
      <h1>Tasks</h1>
    </div>
    <div class="display_click">
      <button id='display_gantt' class='toggle_display btn btn-primary'>Display Gantt</button>
    </div>
  </div>
  <table id="task_display" class='sortable'>
    <tr>
      <!--<th>Task ID</th>-->
      <th>Task Name</th>
      <th>Start Date</th>
      <th>Finish Date</th>
      <th>Prerequisite</th>
    </tr>
    <%= render 'task_display' %>
  </table>
</div>
<div id="gantt_div">
    <svg id="gantt_display">
    </svg>
</div>


  <p id="hidden_page_id"><%= @project.id%></p>
