#table_area{
  width: 50%;
  float:left;
}

#grid_area{
  float: left;
  width: 50%;
}

h1{
  text-align: center;
}

td {
  width: 120px;
  text-align: center;
  padding: 5px;
}

input{
  width: 120px;
}

#gantt_svg{
  width: 400px;
  height:100px;
  background-color: #cccccc;
  margin-top: 20px;
}
