// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#project_display{
  float:left;
  width: 900px;
}

#project_controls{
  float:left;
  width: 200px;
  margin:auto;
  text-align: center;
}

#projects_table{
  td, th{
    width: 200px;
    font-size: 15px;
    padding: 10px;
    border-bottom: solid #ff0000;
  }
}

#create_tasks{
  float:left;
  width: 300px;
}

#show_tasks{
  float: left;
  width: 700px;
  text-align: center;
  background-color: #cccccc;
}

#gantt_div{
  float: left;
  margin-left: 20px;
  margin-top: 100px;
  width: 420px;
  display: none;
  background-color: blue;
}

#display_buttons{
  width:100%;
  height:80px;
}

#display_new_task{
  display: none;
}
#task_header{
  width:300px;
  float:left;
  margin:auto;
  text-align: center;

}

.display_click{
  float:left;
  padding-top: 25px;
  width:200px;
  height:80px;
}

#task_display{
  margin-bottom: 10px;
  td, th{
    text-align: center;
    width: 200px;
    font-size: 15px;
    padding: 10px;
    border-bottom: solid #ff0000;
  }
}

#gantt_display{
  position:relative;
  width: 420px;
  height:100px;
  display: block;
  overflow-x: auto;
  background-color: #cccccc;
}

#hidden_page_id{
  visibility: hidden;
}

.task_delete{
  height:30px;
  width: 30px;
  font-size: 10px;
}
